###############
# BASIC SETUP #
###############

# Storage configuration -- see "Configuration" -> "Object Storage" in the docs
ANYVLM_STORAGE_URI=postgresql://anyvlm:anyvlm-pw@localhost:5435/anyvlm

############
# OPTIONAL #
############

## Testing - see "Contributing" -> "Testing" in the docs
ANYVLM_TEST_STORAGE_URI=postgresql://anyvlm_test:anyvlm-test-pw@localhost:5436/anyvlm_test
