services:

  anyvlm:
    image: ghcr.io/genomicmedlab/anyvlm:1.0.0-rc1
    depends_on:
      anyvlm_db:
        required: true
        condition: service_started
    ports:
      - 127.0.0.1:8080:8000

  anyvlm_db:
    image: postgres:17
    volumes:
      - anyvlm_vol:/var/lib/postgresql/data
    ports:
      - 127.0.0.1:5435:5432
    environment:
      - POSTGRES_DB=anyvlm
      - POSTGRES_USER=anyvlm
      - POSTGRES_PASSWORD=anyvlm-pw

volumes:
  anyvlm_vol:
    external: true
